/* GENERAL STYLES */

html {
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

.container {
  width: 960px;
  /*background-color: yellow;*/
}

/* HEADER STYLES */

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: black;
  background-size: cover;
  background-position: center;
  height: 31rem;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png');
}

nav ul{
  display: flex;
  padding-right: 1rem;
}

nav li {
  padding: 1rem;
}

.logo {
display: flex;
align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  margin-top: 1rem;
  margin-bottom: 10rem;
}

.header img {
  padding-left: 2rem;
  padding-right: 1rem;
  height: 1.5rem;
}

.motto {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  margin-right: -2rem;
}

.headline {
  display: flex;
  justify-content: flex-end;
}

/* PICTOGRAM STYLES */

.icons {
  display: block;
  margin: auto auto;
  display: flex;
  justify-content: center;
}

.pictogram {
  display: flex;
  background-color: white;
  padding: 3rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: 8rem;
  text-align: center;
}

.tall img {
  width: 3.5rem;
}

.long img {
  width: 5rem;
}

  /* INFOBOX STYLES */

.info {
  display: flex;
  justify-content: center;
  margin: auto auto;
  /*background-color: pink;*/
}

.infobox {
  display: block;
  width: 35%;
  padding: 0 5%;
}

.infobox h3 {
  font-size: 1rem;
  background-color: cadetblue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  margin-bottom: 1rem;
  max-width: 10rem;
}

/* FOOTER STYLES */

.footer{
  background: azure;
  display: flex;
  align-items: center;
  margin: auto auto;
  margin-top: 5rem;
}

.footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}
