/* GENERAL STYLES */

html {
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

.container {
  width: 960px;
  /*background-color: yellow;*/
}

/* HEADER STYLES */

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: black;
  background-size: cover;
  background-position: center;
  height: 31rem;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png');
}

nav ul{
  display: flex;
  padding-right: 1rem;
}

nav li {
  padding: 1rem;
}

.logo {
display: flex;
align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  margin-top: 1rem;
  margin-bottom: 10rem;
}

.header img {
  padding-left: 2rem;
  padding-right: 1rem;
  height: 1.5rem;
}

.motto {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  margin-right: -2rem;
}

.headline {
  display: flex;
  justify-content: flex-end;
}
